.mobile-screen{
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.5vh;
  padding: 0px 7vw;
  font-weight: 700;
  background: url('Thumbnail mobile.png') center/cover no-repeat;
}

.blue {
  color: #007bff;
}