.offcanvas {
  overflow-y: scroll;
}

.offcanvas-title {
  font-size: 5vh;
  color: #005BA2;
}

.offcanvas-sub-title {
  font-size: 3vh;
  margin-bottom: 10px;
}

.offcanvas-content {
  padding: 10px 20px;
}

.offcanvas-content input {
  width: 50px;
  margin-right: 8px;
  text-align: center;
  color: #005BA2;
}

.offcanvas-content label {
  display: flex;
  align-items: center;
  font-size: 17px;
  margin-bottom: 15px;
}

.offcanvas-content .check-box {
  margin-right: 18px;
  width: 50px;
  height: 25px;
  border: 1px solid #005BA2;
}

.offcanvas-content .check-box:before {
  font-size: 20px;
}

.number-input {
  width: 50px;
  padding: 5px;
  font-size: 16 px;
  border: 1px solid #005BA2;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  outline: none;
}

.number-input:hover,
.number-input:focus {
  border-color: #007bff; /* Change border color on hover/focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.clear-button{
  width: 100%;
  height: 5vh;
  display: flex;
  border: 1px solid red;
  color: red;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 1vh;
  margin-top: 5vh;
  transition: all 0.1s ease-in-out
}

.clear-button:hover{
  background-color: red;
  color: #fff;
  transition: all 0.1s ease-in-out
}

