.resume-container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

label{
  padding-right: 2pt;
}

.a4-page{
  width: 21cm;
  min-height: 29.7cm;
  background-color: #fff;
  position: relative;
}

.warning-line {
  position: absolute;
  top: calc(29.7cm - 20px);
  z-index: 1;
  margin: 0;
  width: 100%;
  border: 0;
  border-top: 3px dotted red;
}

.warning-message {
  position: absolute;
  width: 100px;
  text-align: right;
  top: calc(29.7cm - 13px);
  z-index: 1;
  margin: 0;
  left: -110px;
  color: red;
}

.resume-print{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 20px;
  color: red;
}

.resume-print li{
  padding-right: 20px;
}

.resume-print button{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3vh;
  padding: 0px 25px;
  margin: 0px 10px;
  height: 60px;
  /* width: 200px; */
  background-color: #005BA2;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 2.2vh;
  cursor: pointer;
}

.resume-control-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vh;
  height: 8vh;
  position: fixed;
  background-color: #fff;
  border-radius: 40% 0% 0% 40%;
  top: 28vh;
  right: 0;
  border: 0;
  outline: 0;
}

.feedback-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vh;
  height: 8vh;
  position: fixed;
  background-color: #fff;
  border-radius: 40% 0% 0% 40%;
  top: 40vh;
  right: 0;
  border: 0;
  outline: 0;
}

/* General Section */

.general{
  position: relative;
  padding: 20px 30px 0px 30px;
  display: flex;
  justify-content: space-between;
}

.image-container{
  height: 130px;
  object-fit: cover;
}

.image-container img{
  height: 130px;
}

.name {
  font-size: 20pt;
  height: 30pt;
  font-weight: bolder;
  text-align: left;
  border: none;
}

.info-container{
  position: relative;
  font-size: 12pt;
  text-align: right;
}

.info-editor{
  position: absolute;
  right: -6.5cm;
}

.info-editor input{
  width: 6cm;
  font-size: 12pt;
  margin: 0.5px 0px;
}

/* Qualification */
.qualifications {
  margin: 0px 30px 0px 30px;
  font-size: 10pt;
}

.qualifications label {
  font-weight: 800;
}

#technical-skills {
  border: 0;
  width: 16cm;
}

#certifications {
  margin-left: 2em;
  width: 18cm;
  resize: none;
  border: none;
  display: list-item;
}

#certifications div {
  display: list-item;
}

.qualifications table {
  margin-top: 8px;
}

.qualifications table td{
  border: 0.1mm solid rgb(184, 183, 183);
  text-align: center;
  height: 0.46cm;
}

.table-header {
  text-align: left;
  padding-left: 5px;
  border: 0.1mm solid rgb(184, 183, 183);
  font-weight: 800;
}

[contentEditable="true"]:empty:before {
  content: attr(placeholder);
  color: #888;
  white-space: pre-wrap;
}

/* project */
.projects{
  margin: 10px 30px 0px 30px;
  font-size: 10pt;
}

.projects table td{
  border: 0.1mm solid rgb(184, 183, 183);
  text-align: center;
  height: 0.46cm;
}

.projects .project-details{
  text-align: left;
  padding-left: 7px;
  position: relative;
}

.team-project{
  position: absolute;
  width: 3cm;
  top: 10px;
  right: -4.2cm;
  display: flex;
  flex-direction: column;
}

/* Internships */

.internships {
  margin: 10px 30px 0px 30px;
  font-size: 10pt;
}

.internships table td{
  border: 0.1mm solid rgb(184, 183, 183);
  text-align: center;
  height: 0.46cm;
}

.internships .internship-details {
  text-align: left;
  padding-left: 7px;
}

.display-list::before {
  content: "- ";
}


/* Cocurriculars */

.cocurriculars {
  margin: 10px 30px 0px 30px;
  font-size: 10pt;
}

.cocurriculars table td{
  border: 0.1mm solid rgb(184, 183, 183);
  text-align: center;
  height: 0.7cm;
}

.cocurriculars .cocurriculars-details {
  text-align: left;
  padding-left: 7px;
}

/* Achievements */

.achievements-container {
  margin: 10px 30px 0px 30px;
  font-size: 10pt;
}

.achievements-container table td{
  border: 0.1mm solid rgb(184, 183, 183);
  text-align: center;
  height: 0.7cm;
}

.achievements-container .achievements-details ul{
  text-align: left;
  list-style-type: square;
  margin-bottom: 0;
  padding-left: 25px;
}

#achievements, #responsibilities, #extracurriculars{
  display: list-item;
  width: 15cm;
  margin-left: 25px;
  text-align: left;
}

#achievements div, #responsibilities div, #extracurriculars div{
  display: list-item;
}

/* Additional Info */

.additional-info {
  margin: 10px 30px 0px 30px;
  font-size: 10pt;
}

.additional-info table td{
  border: 0.1mm solid rgb(184, 183, 183);
  text-align: center;
  height: 0.7cm;
}

.additional-info .info-details ul{
  text-align: left;
  list-style-type: square;
  margin-bottom: 0;
  padding-left: 25px;
}

#hobbies, #languages {
  display: list-item;
  width: 15cm;
  margin-left: 25px;
  text-align: left;
}

#hobbies div, #languages div{
  display: list-item;
}

@media (max-width: 620px) {
  .resume-container {
    display: block;
    padding-left: 30px;
    padding-top: 30px;
  }

  .resume-print li{
    font-size: 2vh;
  }
  
  .resume-print {
    padding-top: 30px;
    width: 21.5cm;
  }
  
}