.resume-container{
  display: flex;
  height: calc(29.7cm + 15vh);
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

label{
  padding-right: 2pt;
}

.a4-page{
  width: 21cm;
  height: 29.7cm;
  background-color: #fff;
}

.resume-print{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 20px;
  color: red;
}

.resume-print button{
  margin: 0px 10px;
  height: 30px;
  width: 150px;
  background-color: #00ab41;
  border: 0;
  color: #fff;
  font-size: 2.2vh;
  cursor: pointer;
}

.resume-control-btn{
  width: 7vh;
  height: 10vh;
  position: fixed;
  top: 30vh;
  right: 0;
  border: 0;
  outline: 0;
}

/* General Section */

.general{
  position: relative;
  padding: 20px 30px 0px 30px;
  display: flex;
  justify-content: space-between;
}

.image-container{
  height: 130px;
  object-fit: cover;
}

.image-container img{
  height: 130px;
}

.name {
  font-size: 20pt;
  height: 30pt;
  font-weight: bolder;
  border: none;
}

.info-container{
  position: relative;
  font-size: 12pt;
  text-align: right;
}

.info-editor{
  position: absolute;
  right: -6.5cm;
}

.info-editor input{
  width: 6cm;
  font-size: 12pt;
}

/* Qualification */
.qualifications {
  margin: 0px 30px 0px 30px;
  font-size: 10pt;
}

.qualifications label {
  font-weight: 800;
}

#technical-skills {
  border: 0;
  width: 85%;
}

#certifications {
  margin-left: 2em;
  width: 85%;
  resize: none;
  border: none;
  display: list-item;
}

#certifications div {
  display: list-item;
}

.qualifications table {
  margin-top: 8px;
}

.qualifications table td{
  border: 0.1mm solid rgb(184, 183, 183);
  text-align: center;
  height: 0.46cm;
}

.table-header {
  text-align: left;
  padding-left: 5px;
  border: 0.1mm solid rgb(184, 183, 183);
}