.resume-container{
  display: flex;
  height: calc(29.7cm + 15vh);
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

label{
  padding-right: 2pt;
}

.a4-page{
  width: 21cm;
  height: 29.7cm;
  background-color: #fff;
}

.resume-print{
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px 20px;
  color: red;
}

.resume-print button{
  margin: 0px 10px;
  height: 30px;
  width: 150px;
  background-color: #00ab41;
  border: 0;
  color: #fff;
  font-size: 2.2vh;
  cursor: pointer;
}

.resume-control-btn{
  width: 7vh;
  height: 10vh;
  position: fixed;
  top: 30vh;
  right: 0;
  border: 0;
  outline: 0;
}

/* General Section */

.general{
  padding: 20px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
}

.image-container{
  height: 150px;
  object-fit: cover;
}

.image-container img{
  height: 150px;
}

.info-container{
  position: relative;
  font-size: 12pt;
  text-align: right;
}

.info-container p{
  display: inline;
}

.info-container label{
  font-size: 12pt;
  align-items: end;
}

.info-container input{
  width: 6cm;
  font-size: 12pt;
  position: absolute;
  right: calc(-6cm - 25px);
}


@media print {
  body * {
    display: none;
  }

  .a4-page {
    display: block;
    border: 1px solid black;
  }
}
