*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  margin: 0;
}

body{
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
}

.bg-gray{
  background-color: gainsboro;
}

.bold{
  font-weight: 800;
}

@media print {
  body {
    visibility: hidden;
  }

  .a4-page {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid black;
    padding: 0;
    margin: 0;
  }

  .info-editor{
    display: none;
  }

  td, th{
    border: none;
    outline: none;
  }

  @page {
    margin: 0;
  }
}