*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: calc(29.7cm + 50px);
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(204, 204, 204);
}

.a4-page{
  width: 21cm;
  height: 29.7cm;
  border: 1px solid black;
  background-color: #fff;
}