.templates{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.template-card{
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  transition: all 0.1s ease-in-out;
}

.template-card:hover{
  background-color: #00ab41;
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

.template-card:hover .template-name{
  background-color: #00ab41;
  color: #fff;
  transition: all 0.1s ease-in-out;
}

.template-image{
  object-fit: fill;
  overflow: hidden;
}

.template-image img{
  width: 100%;
}

.template-name{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  background-color: #fff;
  transition: all 0.1s ease-in-out;
}



@media (min-width: 992px) {
  .templates{
    padding: 5vh 2.5vw;
  }

  .template-card{
    width: 25vw;
  }

  .template-image{
    height: 35vh;
  }

  .template-name{
    height: 5vh;
    font-size: 3.5vh;
  }
}


@media (min-width: 1200px) {
  /* Styles for devices with a screen width of 1200px or larger */
}
