.header{
  display: flex;
  align-items: center;
  user-select: none;
}

.title{
  color: #fff;
}

.header{
  padding: 1.5vh 2.5vw;
}

.title{
  color: #fff;
  font-size: 3vw;
  font-weight: 700;
}

.bl{
  color: #005BA2;
}

.sub-title {
  color: #005BA2;
  font-size: 1.5vw;
}

@media (max-width: 576px) {
  .header{
    padding: 3vh 2.5vw;
    justify-content: center;
  }
  
  .title{
    font-size: 7vh;
    text-align: center;
  }

  .sub-title {
    font-size: 3.8vh;
  }
}


@media (min-width: 768px) {
  /* Styles for devices with a screen width of 768px or larger */
}


@media (min-width: 992px) {
  /* .header{
    padding: 1.5vh 2.5vw;
  }

  .title{
    color: #fff;
    font-size: 6vh;
    font-family: 'Courgette', cursive;
  } */
}


@media (min-width: 1200px) {
  /* Styles for devices with a screen width of 1200px or larger */
}

